@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  padding: 0 15px;
}

.header__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 0;
}

.header__logo {
  color: #000;
  font-family: "RB";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header__menu-list-item a {
  color: #050038;
  font-family: "IR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.header__button-sign p {
  color: #050038;
  font-family: "RB";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__button-free p {
  color: #fff;
  font-family: "IR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 40px 13px 32px;
  border-radius: 30px;
  background: #0555ff;
  transition: 0.6s;
}

.header__button-free p:hover {
  background: #ffffff;
  font-size: 18px;
  color: #0555ff;
  box-shadow: 0px 10px 40px 0px rgba(176, 201, 253, 0.3);
}

.banner__wrap {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 35px;
}

.banner__item {
  margin-top: 90px;
  max-width: 953px;
  width: 100%;
  color: #050038;
  text-align: center;
  font-family: "CLR";
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 120px;
  /* 125% */
}

.banner__text {
  color: #5b5e6d;
  text-align: center;
  font-family: "IR";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 145.455% */
  max-width: 705px;
  width: 100%;
}

.banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.banner__btn-free {
  color: #fff;
  font-family: "IR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 40px 13px 32px;
  border-radius: 30px;
  background: #0555ff;
  transition: 0.6s;
}

.banner__btn-video {
  color: #fff;
  font-family: "IR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 40px 13px 32px;
  border-radius: 30px;
  background: #0555ff;
  transition: 0.6s;
}

.banner__btn-free:hover {
  background: #ffffff;
  font-size: 18px;
  color: #0555ff;
  box-shadow: 0px 10px 40px 0px rgba(176, 201, 253, 0.3);
}

.banner__btn-video:hover {
  background: #ffffff;
  font-size: 18px;
  color: #0555ff;
  box-shadow: 0px 10px 40px 0px rgba(176, 201, 253, 0.3);
}

.banner__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 150px 0;
}

.banner__brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__brands-desc {
  color: #5b5e6d;
  font-family: "IR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}

.banner__brands-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
  margin-bottom: 64px;
}

.banner__brands-line {
  margin-bottom: 100px;
}

.line {
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin-bottom: 100px;
}

.services__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__h {
  color: #050038;
  text-align: center;
  font-family: "CLR";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.services__desc {
  color: #5b5e6d;
  text-align: center;
  font-family: "IR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 778px;
  width: 100%;
  margin-bottom: 50px;
  /* 160% */
}

.services__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 25px 9px 20px;
  gap: 12px;
  border-radius: 30px;
  background: rgba(5, 85, 255, 0.1);
  margin-bottom: 80px;
  transition: 0.6s;
}

.services__button-text {
  color: #0555ff;
  text-align: center;
  font-family: "IR";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 213.333% */
}

.services__button:hover {
  background: #ffffff;
  box-shadow: 0px 10px 40px 0px rgba(176, 201, 253, 0.3);
}

.develop__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}

.develop__desc {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.develop__desc-h {
  color: #050038;
  /* text-align: center; */
  font-family: "CLR";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: left;
  margin-bottom: 30px;
}

.develop__desc-text {
  color: #5b5e6d;
  font-family: "IR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  margin-bottom: 40px;
}

.develop__desc-link a {
  color: #000;
  /* text-align: center; */
  font-family: "IR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: 0.3s;
}

.develop__desc-link a::after {
  position: absolute;
  content: "";
  width: 0%;
  background: #0555ff;
  left: 50%;
  height: 3px;
  bottom: -3px;
  /* border-radius: 15px 15px 0 0; */
  transition: 0.3s;
  transform: translateX(-50%);
}

.develop__desc-link a:hover::after {
  width: 100%;
}

.build__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  /* gap: 123px; */
}

.build__desc {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.build__desc-h {
  color: #050038;
  /* text-align: center; */
  font-family: "CLR";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: left;
  margin-bottom: 30px;
}

.build__desc-text {
  color: #5b5e6d;
  font-family: "IR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  margin-bottom: 40px;
}

.build__desc-link a {
  color: #000;
  /* text-align: center; */
  font-family: "IR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: 0.3s;
}

.build__desc-link a::after {
  position: absolute;
  content: "";
  width: 0%;
  background: #0555ff;
  left: 50%;
  height: 3px;
  bottom: -3px;
  /* border-radius: 15px 15px 0 0; */
  transition: 0.3s;
  transform: translateX(-50%);
}

.build__desc-link a:hover::after {
  width: 100%;
}

.update__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  /* gap: 123px; */
}

.update__desc {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.update__desc-h {
  color: #050038;
  /* text-align: center; */
  font-family: "CLR";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: left;
  margin-bottom: 30px;
}

.update__desc-text {
  color: #5b5e6d;
  font-family: "IR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  margin-bottom: 40px;
}

.update__desc-link a {
  color: #000;
  /* text-align: center; */
  font-family: "IR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: 0.3s;
}

.update__desc-link a::after {
  position: absolute;
  content: "";
  width: 0%;
  background: #0555ff;
  left: 50%;
  height: 3px;
  bottom: -3px;
  /* border-radius: 15px 15px 0 0; */
  transition: 0.3s;
  transform: translateX(-50%);
}

.update__desc-link a:hover::after {
  width: 100%;
}

.twit {
  background: #f8f8fa;
}

.twit__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
}

.twit__p {
  color: #5b5e6d;
  text-align: center;
  font-family: "IR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
  margin-bottom: 40px;
}

.twit__h {
  color: #050038;
  text-align: center;
  font-family: "CLR";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  /* 44.444% */
  margin-bottom: 80px;
}

.twit__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 370px;
  gap: 30px;
}

.cards__desc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.cards__header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 15px;
}

.cards__header-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cards__header-name {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.cards__header-name-p {
  display: flex;
  gap: 6px;
}

.cards__header-name-p-text {
  color: #050038;
  font-family: "CLR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.cards__header-name-email {
  color: #596068;
  font-family: "IR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.cards__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards__text-1 {
  color: #050038;
  font-family: "IR";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

.cards__text-2 {
  color: #050038;
  font-family: "IR";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

.footer {
  background: #130c3a;
}

.footer__wrap {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__item {
  color: #fff;
  text-align: center;
  font-family: "CLR";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 85px; /* 118.056% */
  max-width: 640px;
  width: 100%;
  margin-bottom: 40px;
}

.footer__input {
  display: flex;
  margin-bottom: 150px;
}
.footer__input input {
  padding: 24px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  text-align: left;
  width: 528px;
  background: #130c3a;
}

.footer_btn {
  border: none;
  outline: none;
}

.footer_btn {
  padding: 25px 50px;
  max-width: 221px;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  background: #0555ff;
  color: #fff;
  text-align: center;
  font-family: "IR";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
  transition: 0.7s;
}

.footer_btn:hover {
  background: white;
  color: #0555ff;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* align-items: center; */
  margin-bottom: 70px;
}

.footer__links-main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.footer__links-main-h {
  color: #fff;
  font-family: "IR";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.footer__links-main-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 27px;
}

.footer__links-main-desc-link {
  color: #7884a6;
  font-family: "RR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer__links-sec {
  display: flex;
  gap: 110px;
  justify-content: space-between;
}

.footer__links-sec-desc {
  display: flex;
  flex-direction: column;
}
.footer__links-sec-desc-h {
  color: #fff;
  font-family: "CLR";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.footer__links-sec-desc-ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__links-sec-desc-ul-li {
  color: #7884a6;
  font-family: "RR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 262.5% */
}

.footer__bottomtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.footer__bottomtext p {
  color: #fff;
  font-family: 'RR';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
